@{
    var user = Session["User"] as User;
    var search = ViewBag.Search;
}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Books", MVC.Home.Index(), new { @class="navbar-brand" })
        </div>
            @if (user != null)
            {
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <p class="navbar-text">Welcome @user.Username</p>
                    @if (ViewBag.Title == "Index")
                    {
                        using(Html.BeginForm(MVC.Books.Index(), FormMethod.Post, new { @class="navbar-form clearfix", id="search", style="display:inline-block"}))
                        {
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search by title" name="Title" id="Title" />
                             </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search by author" name="Author" id="Author" />
                            </div>
                            <button type="submit"  class="btn btn-default">Search</button>
                            <button type="reset" onclick="document.getElementById('search').submit()" class="btn btn-default">Clear</button>
                    }
                    }
                    @using (Html.BeginForm(MVC.User.Logout(), FormMethod.Post, new { @class = "navbar-form navbar-right" }))
                    {
                        <button class="btn btn-default" type="submit"> Logout </button>
                    }
                </div>
            }
           
    </div>
</nav>
