@model ICollection<Book>
@{
    ViewBag.Title = "Books";
    Layout = "~/Views/_Layout.cshtml";
}

@using (Html.BeginForm(MVC.Books.UploadBook(), FormMethod.Post, new { id = "bookUpload", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary()
    <table id="test" style="text-align:center;" class="display compact cell-border">
        <thead>
            <tr>
                <th>Cover</th>
                <th>Title</th>
                <th>Publish year</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Row 1 Data 1</td>
                <td>Row 1 Data 2</td>
            </tr>
        </tbody>
    </table>
}
@section Scripts
{
    <script src="@Url.Content("~/Scripts/tableDisplay.js")"></script>
}
